
build/
install/
log/
__pycache__/
*.pyc
.vscode/

# ignore large files
*.db                # ignore data base files
*.safetensors       # ignore safetensors files
*.pt                # ignore pytorch files
*.onnx              # ignore ONNX model files
*.torchscript       # ignore TorchScript model files

# ignore zip files
*.zip

# ignore images
*.jpg
*.png
*.svg

# ignore detect-and-localize data folder
detect-and-localize/data/

# ignore video files
*.mp4
*.mkv
*.avi
*.mov

# ignore ROS2 interface file
interface

CLAUDE.md

*.venv