[Unit]
Description=GripperX WiFi Reconnect
After=network.target wpa_supplicant.service
Wants=wpa_supplicant.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gripperx-wifi.sh
